{% extends 'base.html' %}
{% block title %}Lista de Heróis{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h2 class="mb-4">Heróis cadastrados</h2>
    <a href="{% url 'criar_heroi' %}" class="btn btn-success mb-3">Novo Herói</a>
    <div class="row">
      {% for hero in herois %}
        <div class="col-md-4">
          <div class="card-custom">
            {% if hero.imagem %}
              <img src="{{ hero.imagem.url }}" class="profile-pic mb-2" alt="">
            {% endif %}
            <h5 class="card-title">{{ hero.codinome }}</h5>
            <p class="card-text">{{ hero.poder_principal }}</p>
            <small class="text-muted">{{ hero.cidade }}</small>
          </div>
        </div>
      {% empty %}
        <p>Nenhum herói encontrado.</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
